.forecasts {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 75%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
}

.forecast {
    display: flex;
    flex: 0 0;
    flex-direction: row;
    align-items: center;
    min-height: 250px;
    max-height: 250px;
    width: 100%;
}

.temp,
.meta,
.icon {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ----------------------------------------------------- TEMP CONTAINER ----------------------------------------------------- */

.temp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 38%;
    color: white;
    background-color: #f907fc;
    background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);
}

.temp > h3 {
    font: var(--header-xl);
    padding-left: 10px;
}

.temp > p:nth-of-type(1) {
    font: var(--body-large);
    padding-left: 10px;
}

.temp > p:nth-of-type(2) {
    font: var(--body-small);
    padding-left: 10px;
}

.temp.clear {
    background-color: #78528C;
    background-image: linear-gradient(326deg, #78528C 0%, #ffa69e 74%);    
}

.temp.clouds {
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
}

.temp.rain,
.temp.thunderstorm,
.temp.drizzle,
.temp.mist {
    background-color: #244D69;
    background-image: linear-gradient(315deg, #244D69 0%, #0F191C 74%);
}

.temp.snow {
    background-color: #f8f9d2;
    background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
}

.temp.fog {
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
}

.temp.sand {
    background-color: #f6f0c4;
    background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);
}

.temp.dust {
    background-color: #2f4353;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
}

.temp.ash {
    background-color: #d3d3d3;
    background-image: linear-gradient(315deg, #d3d3d3 0%, #7f8c8d 74%);    
}

.temp.squall,
.temp.tornado {
    background-color: #d3d3d3;
    background-image: linear-gradient(315deg, #d3d3d3 0%, #7f8c8d 74%);    
}

/* ----------------------------------------------------- META CONTAINER ----------------------------------------------------- */

.meta {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 38%;
    background-color: var(--secondary-color);
    color: white;
}

.meta > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meta i {
    font-size: 3rem;
}

.meta h3 {
    font: var(--header-xs);
}

.meta p {
    font: var(--header-xs);
}

.meta.clear {
    background-image: url("../images/Clear/1.jpg");
}

.meta.clouds {
    background-image: url("../images/Clouds/2.jpg");
}

.meta.rain,
.meta.thunderstorm,
.meta.drizzle,
.meta.mist {
    background-image: url("../images/Rain/2.jpg");
}

.meta.snow {
    background-image: url("../images/Snow/1.jpg");
}

.meta.fog {
    background-image: url("../images/Fog/1.jpg");
}

.meta.sand {
    background-image: url("../images/sand.jpg");
}

.meta.dust {
    background-image: url("../images/dust.jpg");
}

.meta.ash {
    background-image: url("../images/ash.jpg");
}

.meta.squall,
.meta.tornado {
    background-image: url("../images/tornado.jpg");
}

/* ----------------------------------------------------- ICON CONTAINER ----------------------------------------------------- */

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24%;
    background-color: var(--quaternary-color);
}

.icon i {
    font-size: 6rem;
}

.icon p {
    font: var(--header-medium);
}

.icon.clear {
    background-color: #3277DE;
    background-image: linear-gradient(326deg, #3277DE 0%, #25213C 74%);    
}

.icon.clouds {
    background-color: #b3cdd1;
    background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
}

.icon.rain,
.icon.thunderstorm,
.icon.drizzle,
.icon.mist {
    color: var(--primary-color);
    background-color: #0F191C;
    background-image: linear-gradient(20deg, #0F191C 70%, #795241 150%);
}

.icon.snow {
    background-color: #f8f9d2;
    background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
}

.icon.fog {
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
}

.icon.sand {
    background-color: #f6f0c4;
    background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);
}

.icon.dust {
    background-color: #2f4353;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
}

.icon.ash {
    background-color: #d3d3d3;
    background-image: linear-gradient(315deg, #d3d3d3 0%, #7f8c8d 74%);    
}

.icon.squall,
.icon.tornado {
    background-color: #d3d3d3;
    background-image: linear-gradient(315deg, #d3d3d3 0%, #7f8c8d 74%);    
}