.forecasts {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 75%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #000000;
}

.forecast {
  display: flex;
  flex: 0 0;
  flex-direction: row;
  align-items: center;
  min-height: 135px;
  max-height: 135px;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 1px;
  background-image: linear-gradient(
    -45deg,
    var(--primary-color),
    rgba(255, 255, 255, 0.178),
    var(--primary-color)
  );
  background-size: 300% 400%;
  animation: bg-move 3.5s linear infinite;
}

@keyframes bg-move {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media screen and (min-width: 1440px) {
  .forecast {
    padding-bottom: 2px;
  }
}

.forecast > div {
  border-right: 1px solid rgba(255, 255, 255, 0.082);
  border-left: 1px solid rgba(255, 255, 255, 0.082);
}

.temp,
.meta,
.icon {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ----------------------------------------------------- TEMP CONTAINER ----------------------------------------------------- */

.temp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 38%;
  color: rgb(255, 255, 255);
  background-color: #f907fc;
  background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);
}

.temp > h3 {
  font: var(--header-xs);
  padding-left: 7px;
}

.temp > p:nth-of-type(1) {
  font: var(--body-small);
  padding-left: 7px;
}

.temp > p:nth-of-type(2) {
  font: var(--body-xs);
  padding-left: 7px;
}

.temp.clear,
.icon.clear {
  background-color: #032844;
  background: radial-gradient(circle, #032844 23%, #000c13 95%);
}

.temp.clouds,
.icon.clouds {
  background-color: #3f3e41;
  background: radial-gradient(circle, #3f3e41 -41%, #000c13 95%);
}

.temp.rain,
.temp.thunderstorm,
.temp.drizzle,
.temp.mist,
.icon.rain,
.icon.thunderstorm,
.icon.drizzle,
.icon.mist {
  background-color: #181f10;
  background: radial-gradient(circle, #181f10 -41%, #000c13 95%);
}

.temp.snow,
.icon.snow {
  background-color: #312786;
  background: radial-gradient(circle, #312786 -41%, #000c13 95%);
}

.temp.fog,
.icon.fog {
  background-color: #9fa7ad;
  background: radial-gradient(circle, #9fa7ad -41%, #000c13 95%);
}

.temp.sand,
.icon.sand {
  background-color: #b6a62f;
  background: radial-gradient(circle, #b6a62f -41%, #000c13 95%);
}

.temp.dust,
.icon.dust {
  background-color: #2f4353;
  background: radial-gradient(circle, #2f4353 -41%, #000c13 95%);
}

.temp.ash,
.icon.ash {
  background-color: #426a6d;
  background: radial-gradient(circle, #426a6d -41%, #000c13 95%);
}

.temp.squall,
.temp.tornado,
.icon.squall,
.icon.tornado {
  background-color: #426a6d;
  background: radial-gradient(circle, #426a6d -41%, #000c13 95%);
}

/* ----------------------------------------------------- META CONTAINER ----------------------------------------------------- */

.meta {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 38%;
  background-color: black;
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.836);
}

.meta div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meta i {
  font-size: 0.5rem;
}

.meta h3 {
  text-align: center;
  font: var(--body-xs);
}

.meta p {
  font: var(--body-xs);
}

.meta.clear {
  color: white;
  background-image: url("../images/clear.jpg");
}

.meta.clouds {
  background-image: url("../images/clouds.jpg");
}

.meta.rain,
.meta.thunderstorm,
.meta.drizzle,
.meta.mist {
  background-image: url("../images/rain.jpg");
}

.meta.snow {
  background-image: url("../images/snow.jpg");
}

.meta.fog {
  background-image: url("../images/fog.jpg");
}

.meta.sand {
  background-image: url("../images/sand.jpg");
}

.meta.dust {
  background-image: url("../images/dust.jpg");
}

.meta.ash {
  background-image: url("../images/ash.jpg");
}

.meta.squall,
.meta.tornado {
  background-image: url("../images/tornado.jpg");
}

/* ----------------------------------------------------- ICON CONTAINER ----------------------------------------------------- */

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24%;
}

.icon img {
  height: 50px;
  width: 50px;
}

.icon p {
  font: var(--body-medium);
}

.icon.clear {
  color: white;
}

.icon.clouds {
  color: whitesmoke;
}

.icon.rain,
.icon.thunderstorm,
.icon.drizzle,
.icon.mist {
  color: var(--primary-color);
}

.icon.snow {
  color: whitesmoke;
}

/* ------------------- MEDIA QUERIES ------------------- */

@media screen and (min-width: 769px) {
  .forecast {
    min-height: 150px;
    max-height: 150px;
  }

  .temp > h3 {
    font: var(--header-xl);
    padding-left: 15px;
  }

  .temp > p:nth-of-type(1) {
    font: var(--body-medium);
    padding-left: 15px;
  }

  .temp > p:nth-of-type(2) {
    font: var(--body-large);
    padding-left: 15px;
  }

  .meta {
    flex-direction: row;
    justify-content: space-around;
  }

  .meta i {
    font-size: 2rem;
  }

  .meta h3 {
    text-align: center;
    font: var(--body-medium);
  }

  .meta p {
    font: var(--body-medium);
  }

  .icon {
    justify-content: center;
  }

  .icon img {
    height: 100px;
    width: 100px;
  }

  .icon p {
    font: var(--header-xs);
  }
}

@media screen and (min-width: 1366px) {
  .forecast {
    min-height: 210px;
    max-height: 210px;
  }

  .temp > h3 {
    font: var(--header-xl);
    padding-left: 15px;
  }

  .temp > p:nth-of-type(1) {
    font: var(--body-xl);
    padding-left: 15px;
  }

  .temp > p:nth-of-type(2) {
    font: var(--body-large);
    padding-left: 15px;
  }

  .meta i {
    font-size: 2.5rem;
  }

  .meta h3 {
    font: var(--body-large);
  }

  .meta p {
    font: var(--header-xs);
  }

  .icon i {
    font-size: 6rem;
  }

  .icon p {
    font: var(--header-small);
  }
}
