/* BASE DESIGN BASED ON APPEARENCE ON GALAXY FOLD (280px) */

/* ___________________ FONTS ____________________________ */

@font-face {
    font-family: header;
    src: url('../fonts/Overpass-Bold.ttf');
}
  
@font-face {
    font-family: body;
    src: url('../fonts/Overpass-Regular.ttf');
}
    
@font-face {
    font-family: accent;
    src: url('../fonts/Overpass-Light.ttf');
}

/* ------------------- VARIABLES ------------------- */

:root {
    --header-xxl: 4rem header;
    --header-xl: 2.8rem header;
    --header-large: 2.25rem header;
    --header-medium: 1.85rem header;
    --header-small: 1.5rem header;
    --header-xs: 1.2rem header;

    --body-xxl: 1.8rem body;
    --body-xl: 1.5rem body;
    --body-large: 1.23rem body;
    --body-medium: 1rem body;
    --body-small: 0.9rem body;

    --accent-medium: 1rem accent;
    --accent-small: 0.8rem accent;

    --content-width: 85%;
    --content-max-width: 1000px;

    --primary-color: #F7F9FB;
    --secondary-color: #8FC1E3;
    --tertiary-color: #5085A5;
    --quaternary-color: #31708E;
    --quinary-color: #687864;

    --low: green;
    --medium: yellow;
    --high: orange;
    --very-high: red;
    --extreme: purple;
}

/* ------------------- GLOBAL ------------------- */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.low {
    background-color: var(--low);
}

.medium {
    background-color: var(--medium);
}

.high {
    background-color: var(--high);
}

.very-high {
    background-color: var(--very-high);
}
.extreme {
    background-color: var(--extreme);
}

/* ------------------- MEDIA QUERIES ------------------- */

/* @media screen and (min-width: 320px) {

} */

/* @media screen and (min-width: 481px) {

} */

@media screen and (min-width: 769px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 7%;
        width: 100%;
        font: var(--header-xl);
        color: var(--quaternary-color);
        background-color: var(--primary-color);
    }

    aside {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 93%;
        width: 25%;
        background-color: var(--tertiary-color);
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: auto;
        width: 100%;
        margin: 20px auto;
    }

    label {
        color: var(--primary-color);
        font: var(--header-medium);
        text-align: center;
        margin: 5px auto;
    }

    input {
        width: 70%;
        font: var(--body-xl);
        margin: 5px auto;
    }

    button {
        height: 40px;
        width: 150px;
        margin: 7px auto;
        border-style: solid;
        border-radius: 4px;
        font: var(--accent-medium);
        color: var(--primary-color);
        background-color: var(--quaternary-color);
    }

    button:hover {
        filter: brightness(1.2);
    }

    hr {
        height: 2px;
        width: 90%;
        border-style: none;
        background-color: black;
    }

    .historyContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .historyContainer h2 {
        color: var(--primary-color);
        font: var(--header-medium);
    }

    main {
        height: 93%;
        width: 75%;
    }

    .currentWeather {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        height: 25%;
        width: 100%;
        background-color: var(--quaternary-color);
    }

    .currentWeather div:nth-of-type(1) {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        width: 60%;
    }

    .currentWeather .city {
        padding-left: 25px;
        font: var(--header-xxl);
    }

    .currentWeather div:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 8%;
    }

    .currentWeather .date {
        padding-left: 25px;
        font: var(--header-medium);
    }

    .currentWeather .uvLabel {
        font: var(--header-small);
        writing-mode: vertical-rl;
        text-orientation: upright;
    }

    .currentWeather .uvValue {
        font: var(--body-large);
    }

    .currentWeather div:nth-of-type(3) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 35%;
    }

    .currentWeather li {
        font: var(--body-large);
        padding: 15px;
    }

    .weatherForecast {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        height: 75%;
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        background-color: black;
    }

    .forecast {
        display: flex;
        flex: 0 0;
        flex-direction: row;
        align-items: center;
        min-height: 250px;
        width: 100%;
    }

    .temp,
    .meta,
    .icon {
        height: 100%;
    }

    .temp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 38%;
        background-color: var(--primary-color);
    }

    .temp > h3 {
        font: var(--header-xxl);
        padding-left: 10px;
    }

    .temp > p:nth-of-type(1) {
        font: var(--body-xl);
        padding-left: 10px;
    }

    .temp > p:nth-of-type(2) {
        font: var(--body-medium);
        padding-left: 10px;
    }

    .meta {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 38%;
        background-color: var(--secondary-color);
    }

    .meta > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .meta i {
        font-size: 3rem;
    }

    .meta h3 {
        font: var(--header-medium);
    }

    .meta p {
        font: var(--header-small);
    }

    .icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 24%;
        background-color: var(--quaternary-color);
    }

    .icon i {
        font-size: 6rem;
    }

    .icon p {
        font: var(--header-xl);
    }
}

/* @media screen and (min-width: 1025px) {

} */

/* @media screen and (min-width: 1366px) {

} */

/* @media screen and (min-width: 1814px) {

} */


/* @media screen and (min-width: 3200px) {

} */