/* BASE DESIGN BASED ON APPEARENCE ON GALAXY FOLD (280px) */

/* ___________________ FONTS ____________________________ */

@font-face {
    font-family: header;
    src: url('../fonts/Mali-Bold.ttf');
}
  
@font-face {
    font-family: body;
    src: url('../fonts/Mali-Regular.ttf');
}
    
@font-face {
    font-family: accent;
    src: url('../fonts/Mali-Light.ttf');
}

/* ------------------- VARIABLES ------------------- */

:root {
    --header-xxl: 4rem header;
    --header-xl: 2.8rem header;
    --header-large: 2.25rem header;
    --header-medium: 1.85rem header;
    --header-small: 1.5rem header;
    --header-xs: 1.2rem header;

    --body-xxl: 1.8rem body;
    --body-xl: 1.5rem body;
    --body-large: 1.23rem body;
    --body-medium: 1rem body;
    --body-small: 0.9rem body;

    --accent-medium: 1rem accent;
    --accent-small: 0.8rem accent;

    --content-width: 85%;
    --content-max-width: 1000px;

    --primary-color: #F7F9FB;
    --secondary-color: #8FC1E3;
    --tertiary-color: #5085A5;
    --quaternary-color: #31708E;
    --quinary-color: #687864;
}

/* ------------------- MEDIA QUERIES ------------------- */

/* @media screen and (min-width: 320px) {

} */

/* @media screen and (min-width: 481px) {

} */

/* @media screen and (min-width: 769px) {

} */

/* @media screen and (min-width: 1025px) {

} */

/* @media screen and (min-width: 1366px) {

} */

/* @media screen and (min-width: 1814px) {

} */


/* @media screen and (min-width: 3200px) {

} */